@import 'guide';

::selection {
    background: $color-primary;
    color: $color-white;
}
.container-fluid {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.principal {
    margin: 0;
    padding: 0;
    background-color: $color-white;
    background-image: url('../assets/img/bg_entrada.png');
    background-repeat: no-repeat;
    background-position: top right;
    font-family: 'Open Sans', sans-serif;
}
.obrigado {
    width: 100%;
    @include height(300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    text-align: center;
    // background: rgba($color-primary, 0.05);
    // border-radius: .5rem;
    // border: 1px solid $color-primary;
    a {
        background: $color-secondary;
        color: $color-white;
        border: none;
        border-radius: 4rem;
        @include fontSize(16px);
        padding: 1rem 3rem;
        -webkit-appearance: none;
        @include transition(all 0.3s ease-in-out 0s);
        &:hover {
            background-color: saturate($color-secondary, 10) ;
        }
    }
}

.content {
    overflow: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 1rem ;
    a {
        @extend %btn-structure;
        border: 1px solid $color-white;
        @include height(40px);
        margin-top: 1rem;
        &:hover {
            background-color: $color-white;
            color: $color-primary;
        }
    }
}
.entrada {
    width: 100%;
    height: 900px;
    margin-top: 4rem;
    h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        color: $color-primary;
        @include fontSize(40px);
        text-transform: uppercase;
        margin-top: 4rem;
    }
    h2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        @include fontSize(32px);
        color: $color-support;
        margin-top: 1rem;
    }
}
.form-cadastro {
    margin-top: 4rem;
    font-family: 'Open Sans', sans-serif;
    @include width(542px);
    @include height(70px);
    background-color: $color-gray_100;
    border-radius: 4rem;
    padding: 10px 5px 10px 5px;
    input[type="text"] {
        @include width(350px); //71.95%
        padding: 0 3rem 0 1rem;
        @include fontSize(16px);
        border: 0px solid transparent;
        background-color: transparent;
        color: $color-support;
        outline: none;
        padding-left: 30px;
    }
    input[type="text"]:focus {
        font-weight: 700;
        color: $color-support;
    }
    input[type="submit"] {
        @include height(50px);
        cursor: pointer;
        background: $color-secondary;
        color: $color-white;
        border: none;
        border-radius: 4rem;
        @include fontSize(16px);
        padding: 0 2rem 0 2rem;
        -webkit-appearance: none;
        @include transition(all 0.3s ease-in-out 0s);
        &:hover {
            background-color: saturate($color-secondary, 10) ;
        }
    }
    input[type="submit"]:focus {
        font-weight: 700;
    }
}
.chamada-1 h2, .chamada-2 h2, .chamada-3 h2, .chamada-4 h2, .comentarios h2, .faq h2, .sobre h2, .chamada-email h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: $color-support;
    @include fontSize(40px);
    text-align: center;
    margin-bottom: 1rem;
}
.chamada-1 p, .chamada-2 p, .chamada-3 p, .chamada-4 p, .sobre p, .chamada-email p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $color-gray_300;
    @include fontSize(24px);
    text-align: center;
    margin-bottom: 3rem;
}
.chamada-1, .chamada-2, .chamada-email, .chamada-3, .chamada-4, .beneficios, .comentarios, .faq {
    margin-bottom: 10rem;
}

.chamada-1 {
    .row {
        margin-top: 3rem;
    }
    .steps {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        ul {
            list-style: none;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            color: $color-support;
            @include fontSize(24px);
            li {
                margin-bottom: 1rem;
            }
            li::before {
                @extend %icon-before;
            }
            li:nth-child(1)::before {
                content: '';
                background-image: url(../assets/svg/account-outline.svg);
                background-repeat: no-repeat;
                background-position: center center;
            }
            li:nth-child(2)::before {
                content: '';
                background-image: url(../assets/svg/search-outline.svg);
                background-repeat: no-repeat;
                background-position: center center;
            }
            li:nth-child(3)::before {
                content: '';
                background-image: url(../assets/svg/buy-outline.svg);
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }
    .cta {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
        a {
            @extend %btn-structure;
            color: $color-primary;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            padding: 0rem 2rem;
            @include fontSize(24px);
            background-color: rgba($color-primary, 0.1);
            &:hover {
                background-color: rgba($color-primary, 0.2);
                color: $color-primary;
            }
        }
    }
}
.chamada-email p {
    margin-bottom: 0;
}

.chamada-3 {
    h2, p {
        text-align: left;
    }
}
.chamada-4 {
    margin-bottom: 7rem;
    .servicos {
        @include width(330px);
        @include height(330px);
        border-radius: 1.5rem;
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        flex-direction: column;
        margin-bottom: 3rem;
        position: relative;
        background-size: cover;
        &::before {
            position: absolute;
            bottom: 0;
            z-index: 1;
            background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 85%, black 110%, #000 145%);
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
            content: '';
            border-radius: 1.5rem;
        }
        h3 {
            font-weight: 700;
            color: $color-white;
            @include fontSize(24px);
            padding: 0 0 1rem 1rem; 
            z-index: 2;
        }
    }
    .servico1 {
        background-image: url(../assets/img/webp/img_comercio.webp);
    }
    .servico2 {
        background-image: url(../assets/img/webp/img_servicos.webp);
    }
    .servico3 {
        background-image: url(../assets/img/webp/img_vizinhanca.webp);
    }
    .servico4 {
        background-image: url(../assets/img/webp/img_acoes_sociais.webp);
    }
    .servico5 {
        background-image: url(../assets/img/webp/img_trocas.webp);
    }
    .servico6 {
        background-image: url(../assets/img/webp/img_noticias.webp);
    }
}
.beneficios {
    .row div {
        margin-bottom: 2rem;
    }
    h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        color: $color-support;
        @include fontSize(24px);
        margin-bottom: 1rem;
    }
    .beneficio-1::before, .beneficio-2::before, .beneficio-3::before, .beneficio-4::before {
        margin-bottom: 1rem;
        padding-top: .5rem;
    }
    .beneficio-1::before {
        @extend %icon-before;
        content: '';
        background-image: url(../assets/svg/map-outline.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70%;
    }
    .beneficio-2::before {
        @extend %icon-before;
        content: '';
        background-image: url(../assets/svg/store-outline.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70%;
    }
    .beneficio-3::before {
        @extend %icon-before;
        content: '';
        background-image: url(../assets/svg/offer-outline.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70%;
    }
    .beneficio-4::before {
        @extend %icon-before;
        content: '';
        background-image: url(../assets/svg/collaborate-outline.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70%;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: $color-gray_300;
        @include fontSize(20px);
    }
}
.comentarios {
    h2 {
        text-align: center;
        margin-bottom: 4rem;
    }
    .comentario {
        width: 100%;
        background-color: $color-gray_200;
        border-radius: .5rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: $color-gray_300;
        @include fontSize(16px);
        padding: 1rem;
        margin-bottom: 2rem;
        position: relative;
        &::before {
            content: url(../assets/svg/aspas.svg);
            position: absolute;
            top: -1.3rem;
        }
        .perfil {
            margin-top: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img {
                margin-right: 1rem; 
                border: 2px solid $color-primary;
                border-radius: 100%;;
            }
            h3 {
                font-family: 'Open Sans', sans-serif;
                font-weight: 800;
                color: $color-support;
                @include fontSize(20px);
            }
        }
    }
}
.faq {
    h2 {
        margin-bottom: 5rem;
    }
    .panel {
        border-bottom: 1px solid rgba($color-primary, 0.1);
        margin-bottom: 1rem;
        // &:last-child {
        //     border-bottom: none;
        // }
    }
    .panel-group > .panel:first-child .panel-heading {
        border-radius: 4px 4px 0 0;
    }
    .panel-group .panel {
        border-radius: 0;
    }
      
    .panel-group .panel + .panel {
        margin-top: 0;
    }
    
    .panel-heading { 
        padding: 0;
    }
    .panel-title a {
        display: block;
        padding: 1rem 2rem 1rem 1rem;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        color: $color-support;
        @include fontSize(24px);
        @include transition(all 0.3s ease-in-out 0s);
        &:hover {
            text-decoration: none;
            color: $color-primary;
        }
    }
    .panel-body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: $color-gray_300;
        @include fontSize(16px);
        margin-bottom: 2rem;
        a {
            color: $color-primary;
            font-weight: 700;
        }
    }
    #accordion .panel-heading a:before {
        content: url('../assets/svg/plus-outline.svg');
        position: absolute;
        right: 5px;
        top: 10px;
        transform: rotate(180deg);
        transition: all 0.5s;
    }
    #accordion .panel-heading.active a:before {
        content: url('../assets/svg/less-outline.svg');
        transition: all 0.5s;
    }
}
.sobre {
    h2, p {
        text-align: left;
    }
    p {
        @include fontSize(20px);
    }
    .info-sobre {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
}
footer {
    @include height(100px);
    margin-top: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: $color-support;
    @include fontSize(14px);
}
.author {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    span {
        margin-right: 2rem;
    }
}